.social {
  float: right;
  width: 364px;
  height: 50px;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social li {
  float: left;
}

.social li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
