footer{
    width: 100%;
    background-color: #2699fb;
    height: 60px;
    margin-top: 25px;
    padding: 0 150px;
    float: left;
}
footer div{
    float: left;
    height: 50px;
    padding: 20px 0;
    font: 1.3em sans-serif;
    color:white;
}
footer .social{
    padding: 5px 0;
}
footer .social svg:not(:root){
    color:white;
}